---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getCollection } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experiences = (await getCollection('experience'))
  .sort((a, b) => (a.data.index > b.data.index ? 1 : -1))
  .filter((e) => e.id.startsWith(lang));
---

<section class='px-4' id='experience'>
  <div class='max-w-2xl mx-auto flex-col'>
    <h1 class='text-2xl mr-auto font-bold mb-2'>{t('nav.experience')}:</h1>
    {
      experiences.map(({ data, rendered }) => {
        return (
          <div class='mb-10'>
            <h2 class='text-xl text-on-surface font-light mb-2'>{data.position}</h2>
            <h3 class='text-lg text-on-surface font-bold text-tertiary-fixed-dim mb-2'>
              {data.companyName}
            </h3>
            <div class='flex mb-2 items-center'>
              <b class='text-sm'>
                {data.from} - {data?.to ? data.to : t('current')}
              </b>
            </div>
            <div class='prose dark:prose-invert'>
              <slot set:html={rendered?.html} />
            </div>
            <ul class='flex flex-wrap gap-3 mt-2'>
              {data.tags.map((tag) => (
                <li class='text-primary text-sm'>#{tag}</li>
              ))}
            </ul>
          </div>
        );
      })
    }
  </div>
</section>
